@import './base.css';

@font-face {
    font-family: Ethnocentric;
    src: local(Ethnocentric),
         url(@/assets/fonts/Ethnocentric.otf) format("OpenType");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: AnonymousPro;
    src: local(AnonymousPro),
         url(@/assets/fonts/AnonymousPro.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.primary-font {
  font-family: Ethnocentric !important;
  color: var(--black);
}

.secondary-font {
  font-weight: 600;
  font-family: AnonymousPro !important;
  color: var(--black);
}

.scroll-reveal {
  visibility: hidden;
}

#app {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  font-size: 2.7rem;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;

  &:hover {
    background: transparent !important;
  }

  &.hover:hover {
    background: rgba(23, 81, 126, 0.3) !important;
  }
}

.btn {
  padding: var(--space-5) var(--space-8);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: #ccc;
  font-family: Ethnocentric;
  font-size: 12px;
  transition: all 0.4s ease-in-out;
  background: var(--white);
  color: var(--black);
  user-select: none;

  &:hover {
    color: #73c2ff;
    background: white;
    transform: translateY(-5px);
  }
}

.btn-primary {
  background: var(--black);
  color: var(--white);

  &:hover {
    transform: translateY(-5px);
    background: var(--black) !important;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-3);
  width: 100%;
  margin: var(--space-3) 0;
  position: relative;

  & label {
    font-family: Ethnocentric;
    color: #303030;
    position: absolute;
    z-index: 2;
    left: 1rem;
    transition: all 0.4s ease-in-out;
  }

  &.textarea label {
    top: var(--space-6);
  }
}

.two-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: var(--space-3);
}

input {
  height: 60px;
}

input:focus ~ label, 
textarea:focus ~ label,
input:not(:placeholder-shown):valid ~ label, 
textarea:not(:placeholder-shown):valid ~ label,
input:not(:placeholder-shown):invalid ~ label, 
textarea:not(:placeholder-shown):invalid ~ label {
  transform: translateY(-18px) scale(0.8);
}

textarea:not(:placeholder-shown):focus ~ label,
textarea:not(:placeholder-shown):valid ~ label,
textarea:not(:placeholder-shown):invalid ~ label {
  left: 0;
}

input:not(:placeholder-shown):invalid ~ label, 
textarea:not(:placeholder-shown):invalid ~ label {
  color: #e94a4a !important;
}

textarea {
  height: 130px;
  resize: none;
}

input, textarea {
  font-size: AnonymousPro !important;
  font-size: 0.94rem !important;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px) saturate(180%);
  transition: all 0.4s ease-in-out;
  padding: 1.4rem var(--space-7) 12px 1.4rem;

  &.hover:hover {
    background: rgba(23, 81, 126, 0.3);
  }

  &:focus {
    outline: 4px solid var(--blue);
    border: 2px solid #C1D0E1;
  }
}

textarea {
  padding: 1.4rem var(--space-7) 12px 1.9rem;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: var(--boxshadow-bold);
  background: var(--white);
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px) saturate(180%);
  transition: all 0.4s ease-in-out;

  &.hover:hover {
    background: rgba(23, 81, 126, 0.3);
  }
}

.blue {
  color: var(--blue);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.button {
  border-radius: 50% !important;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:active {
    background: rgba(23, 81, 126, 0.2);
  }
}

@media (min-width: 768px) {
  .button {
    &:hover {
      background: rgba(23, 81, 126, 0.2);
    }
  }

  h1 {
    font-size: 2.3rem !important;
  }
}

@media (max-width: 468px) {
  h1 {
    font-size: 1.9rem !important;
  }

  .two-inputs {
    grid-template-columns: 1fr;
  }
}

.float {
  animation: float 2.7s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 8px; /* Largura do scrollbar vertical */
  height: 8px; /* Altura do scrollbar horizontal */
}

/* O fundo do scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Cor de fundo da trilha do scrollbar */
  border-radius: 10px; /* Borda arredondada da trilha */
}

/* A "alça" ou "polegar" que você arrasta */
::-webkit-scrollbar-thumb {
  background: var(--blue); /* Cor da alça do scrollbar */
  border-radius: 10px; /* Borda arredondada da alça */
}

/* Quando o mouse passa por cima da alça */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-low); /* Cor da alça ao passar o mouse */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
