@import './base.css';

@font-face {
    font-family: Ethnocentric;
    src: local(Ethnocentric),
         url(@/assets/fonts/Ethnocentric.otf) format("OpenType");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: AnonymousPro;
    src: local(AnonymousPro),
         url(@/assets/fonts/AnonymousPro.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.primary-font {
  font-family: Ethnocentric !important;
  color: var(--black);
}

.secondary-font {
  font-weight: 600;
  font-family: AnonymousPro !important;
  color: var(--black);
}

#app {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.btn {
  padding: var(--space-5) var(--space-8);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: #ccc;
  font-family: Ethnocentric;
  font-size: 12px;
  transition: all 0.4s ease-in-out;
  background: var(--white);
  color: var(--black);
  user-select: none;

  &:hover {
    color: #73c2ff;
    transform: translateY(-5px);
  }
}

.btn-primary {
  background: var(--black);
  color: var(--white);
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: var(--boxshadow-bold);
  background: var(--white);
}

::-webkit-scrollbar {
  width: 8px; /* Largura do scrollbar vertical */
  height: 8px; /* Altura do scrollbar horizontal */
}

/* O fundo do scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Cor de fundo da trilha do scrollbar */
  border-radius: 10px; /* Borda arredondada da trilha */
}

/* A "alça" ou "polegar" que você arrasta */
::-webkit-scrollbar-thumb {
  background: var(--blue); /* Cor da alça do scrollbar */
  border-radius: 10px; /* Borda arredondada da alça */
}

/* Quando o mouse passa por cima da alça */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-low); /* Cor da alça ao passar o mouse */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
